.registar{
  width: 25%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 90vh;
  padding: 5px;
  margin: auto;
  font-size: 1.6rem;
}
.user_info{
  width: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 90vh;
  padding: 5px;
  margin: auto;
  font-size: 1.6rem;
  display: flex;
  flex-flow: column wrap;
}
.user{
width: 50%;
margin: 5px;
}
