@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai+2&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 20px;
  background-image: url(img/bg_uwu.jpeg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}

.site {
  background-color: #8080ff;
  display: flex;
  flex-flow: row wrap;
}

.container{
  border-radius: 20px 20px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 85vh;
  padding: 20px;
  margin: auto;
  margin-top: 5vh;
  font-size: 1.6rem;
}

.erro{
color: red;
}

a{
color:#007BFF;
text-decoration: none;
transition: 0.2s;
}

a:hover{
color: white;
}


input,label,textarea{
font-size: 1.5rem;
width: 100%;
font-family: 'Baloo Bhai 2', cursive;
}

input, textarea{
border-radius: 10px;
border: solid black 1px;
padding: 5px;
background-color: rgba(255, 255, 255, 0.9);
}

input:focus,button:focus, textarea:focus{
outline:none;
}

button{
font-size: 1.4rem;
margin: 10px 0;
border-radius: 10px;
padding: 5px;
border: 1px #007BFF solid;
color: white;
transition: 0.2s;
background-color: #007BFF;
}

button:hover{
background-color: white;
color: black;
border: 1px solid black;
}
