@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai+2&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 20px;
  background-image: url(img/bg_uwu.jpeg);
  background-size: cover;
  background-attachment: fixed;
}
.site {
  width: 100%;
  min-height: 100vh;
  background-color: #8080ff;
  display: flex;
  flex-flow: row wrap;
}
.container {
  border: 1px white solid;
  background-color: rgba(0, 0, 0, 0.7);
  height: 90vh;
  padding: 5px;
  margin: auto;
  font-size: 1.6rem;
}

span{
  text-align: center;
}

.erro{
color: red;
}

img{
width: 100%;
}

a{
color: white;
text-decoration: none;
}

header{
font-size: 1.5rem;
background-color: lightblue;
width: 100%;
height: 10vh;
border-radius: 0 0 20px 20px;
border: solid 1px black;
}

input{
font-size: inherit;
width: 100%;
}

nav{
width: 100%;
height: 100%;
flex-flow: row wrap;
margin: 0 auto;
display: flex;
justify-content: space-around;
list-style: none;
align-items: center;
}

li {
width: auto;
}

input, textarea{
border-radius: 10px;
border: solid black 1px;
padding: 5px;
background-color: #rgba(255, 255, 255, 0.1);
}

input:focus,button:focus, textarea:focus{
outline:none;
}

button{
font-size: 1.2rem;
margin: 5px 0;
border-radius: 10px;
padding: 5px;
border: 1px #007BFF solid;
color: white;
transition: 0.2s;
background-color: #007BFF;
}

button:hover{
background-color: white;
color: black;
border: 1px solid black;
}
